{{ define "main" }}
<div class="d-g gg-10">
  <div class="d-g gg-15 gtc-r">
    {{ $pages := site.RegularPages }}
    {{ range ( .Paginate $pages ).Pages }}
    {{ if ne .Section "About" }}
    <article>
      <a class="d-f ai-c gg-15 fs-20 mb-7 o-h" href="{{ .Permalink }}">
        <img class="br-100 of-c d-b" src="{{ .Params.image }}" alt="{{ delimit .Params.tags ", " }}" height="20px" width="20px">
        <h2 class="o-h to-e d-1le fs-20">
          {{ .Title }}
        </h2>
      </a>
      <p class="fs-20 o-h to-e c-3 o-h d-5le">
        {{- partial "time_ago.html" . -}}— 
        {{ .Summary }} Tags {{ delimit .Params.keywords ", " }}
      </p>
    </article>
    {{ end }}
    {{ end }}
  </div>

  <div class="jc-c d-f gg-15 ai-c">
    {{ if .Paginator.HasPrev }}
    <a class="d-f ai-c" href="{{ .Paginator.Prev.URL }}">Back</a>
    {{ end }}
    <span class="bbs-d m-0 p-0">{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
    {{ if .Paginator.HasNext }}
    <a class="d-f ai-c" href="{{ .Paginator.Next.URL }}">Next</a>
    {{ end }}
  </div>
</div>
{{ end }}